<!DOCTYPE html>

<html ng-app="covarApp">
<head>
<title>Active Learning Geotagger</title>

<!-- imports -->

<!-- Jinja variables -->
</head>

<body>

  {% include 'includes.html.part' %}

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#data-view" aria-controls="data-view" role="tab" data-toggle="tab">Import</a></li>
    <li role="presentation"><a href="#tagger-view" aria-controls="tagger-view" role="tab" data-toggle="tab">Tagger</a></li>
    <li role="presentation"><a href="#export-view" aria-controls="export-view" role="tab" data-toggle="tab">Export</a></li>
  </ul>

<div class="tab-content" ng-controller="UploadedDataCtrl">

    <div role="tabpanel" class="container tab-pane active" id="data-view">
        <div id="data-explorer" style="width:600px;height:500px;" s-grid></div> 
    </div>

    <div role="tabpanel" class="container tab-pane" id="tagger-view">
        {% include 'tagger.html.part' %}
    </div> 
    
    <div role="tabpanel" class="container tab-pane" id="export-view">
        {% include 'export.html.part' %}
    </div> 
</div> 

</body>
</html>


